.leftBody {
    background: linear-gradient(180deg, #003674 -15.27%, #035cc3 100%);
    height: 100%;
    min-height: 30vh;
    max-height: 100%;
    padding: 70px 30px;
    position: relative;
    width: 100%;
  }
  .rightBody {
    display: flex;
    align-items: center;
    height: 100vh;
    justify-content: center;
  }
  .leftBody h3 {
    font-size: 30px;
    font-family: "Inter", sans-serif;
    color: #fff;
    font-weight: 500;
    margin: 0;
    padding-top: 30px;
    padding-bottom: 14px;
  }
  .leftBody ul {
    padding: 0;
    margin: 0;
    padding-left: 19px;
  }
  .leftBody li {
    padding-bottom: 10px;
    font-size: 18px;
    color: #fff;
    font-family: "Inter";
  }
  .loginBox h3 {
    font-family: "Inter";
    font-size: 25px;
    color: #212121;
    font-weight: 700;
    margin-bottom: 16px;
  }
  .loginBox {
    width: 50%;
    position: relative;
      bottom: 20px;
  }
  .loginBox label {
    color: #424242;
    font-weight: 400;
    font-family: "Inter";
    display: block;
    margin: 8px 0;
  }
  .loginBox input {
    height: 70px !important;
    border: 1px solid #757575;
    border-radius: 10px;
  }
  .submitBtn {
    height: 70px;
    background-color: #bf5a19;
    border-radius: 10px;
    font-weight: 700;
    font-size: 20px;
    color: #fff;
    font-family: "Inter";
    width: 100%;
    margin-top: 20px;
    border: 0;
    text-align: inherit;
    position: relative;
  }
  .textAccount {
    color: #424242;
    font-family: 'Inter';
    margin-top: 0;
    font-weight: 400;
    padding-bottom: 24px;
  }
  .textAccount span {
    color: #BF5A19;
    font-weight: 500 !important;
  }
  .passwordInput img {
    position: absolute;
    top: 48px;
    z-index: 9;
    left: 6px;
  }
  .passwordInput svg {
    position: absolute;
    top: 48px;
    z-index: 9;
    left: 12px;
  }
  .passwordInput input {
    padding-left: 40px;
  }
  .submitBtn svg {
    position: absolute;
      right: 3%;
      top: 40%;
  }
  .backBtn {
    position: relative;
    cursor: pointer;
    z-index: 999;
  }
  .backBtn svg {
    position: relative;
    top: 20px;
    left: 12px;
    cursor: pointer;
  }