.contactList h3 {
    font-size: 30px;
    font-family: 'Inter';
    font-weight: 700;
    margin: 0;
}
.inputField {
    margin-right: 14px;
    position: relative;
}
.inputField svg {
   position: absolute;
   left: 16px;
   top: 53px;
}
.contactList p {
    font-size: 16px;
    font-weight: 500;
    color: #5D5F5F;
    font-family: 'Inter';
    margin: 0;
    padding: 14px 0 16px;
}
.contactList {
    padding: 10px 20px 20px;
 }
 .inputField input {
    height: 72px;
    border-radius: 10px;
    border: 1px solid #757575;
    font-weight: 500;
    font-family: 'Inter';
    padding-left: 46px;
 }
 .textArea label {
    color: #424242;
    font-family: 'Inter';
    display: block;
    font-size: 16px;
    padding-bottom: 9px;
    font-weight: 500;
 }
 .inputField label{
    color: #424242;
    font-family: 'Inter';
    display: block;
    font-size: 16px;
    padding-bottom: 9px;
    font-weight: 500;
 }
 .textArea {
    margin-top: 18px;
 }
 .textArea textarea {
    border: 1px solid #757575;
    border-radius: 10px;
 }
 .locationList h6 {
    font-size: 14px;
    font-family: 'Inter';
    color: #1D1F1F;
    margin-top: 10px;
    margin-bottom: 13px;
 }
 .locationList {
    margin: 0 20px;
 }
 .locationMap iframe {
    border: 0;
 }
 .rectangleTag {
    display: flex;
    align-items: center;
    margin: 18px 0;
 }
 .rectangleTag p {
    margin: 0;
    font-size: 14px;
    color: #5D5F5F;
     font-family: 'inter';
     font-weight: 500;
     margin-left: 6px;

 }
 .socialIcons {
    display: flex;
    align-items: center;
    padding-bottom: 30px;
    position: relative;
    top: 1px;
    right: 4px;
 }
 .socialIcons img {
    margin-right: 8px;
 }
 .submitBtn {
    height: 70px;
    background-color: #bf5a19;
    border-radius: 10px;
    font-weight: 700;
    font-size: 20px;
    color: #fff;
    font-family: "Inter";
    width: 420px;
    margin-top: 20px;
    border: 0;
    text-align: start !important;
    position: relative;
  }
  .submitBtn svg {
    position: absolute;
      right: 3%;
      top: 40%;
  }